<!DOCTYPE html>
<html>
<head></head>
<body class="page">
  <h1>Annotations</h1>
  <table>
    <thead>
      <th>Creator</th>
      <th>Target</th>
      <th>Body</th>
      <th>Type</th>
    </thead>
    {% for obj in data %}
    <tr>
      <td>{{ obj.creator.username }}</td>
      <td>
      {% for t in obj.target.all %}
        {{ t }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
      {#{ obj.target }#}
      </td>
      <td>{{ obj.body }}</td>
      <td>{{ obj.type }}</td>           
    </tr>
    {% endfor %}
  </table>
</body>
</html>
